h1 {
font-family: 'Aleo', serif;
font-size: 70px;
}

body {
  background-color: chocolate;
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  text-align: center;
}

p {
  font-size: 25px;
}

tr {
  background-color:rgba(255, 255, 255, 0.76);
}