@{
  Layout = "_Layout";
}

@model Registrar.Models.Professor

<h1>Professor Details</h1>
<hr/>

<h2>Professor Name: @Html.DisplayFor(model => model.ProfessorName)</h2>

<h2>Courses Teaching: </h2>

<h2>Professor Course: @Html.DisplayFor(model => model.Courses)</h2>