@{
  Layout = "_Layout";
}

@using Registrar.Models;
@model Registrar.Models.Professor;


<h1>Professor Details</h1>
<hr/>

<h2>Professor Name: @Html.DisplayFor(model => model.ProfessorName)</h2>

<h2>Courses Teaching: </h2>
@if (@Model.Courses.Count == 0)
{
  <h3>No courses are assigned</h3>
}
else
{
  <ul>
    @foreach (Course course in @Model.Courses)
    {
      <li>Courses: @course.Name</li>
    }
  </ul>
}