@{
  Layout = "_Layout";
}

<h1>Registrar's Office </h1>
<button>@Html.ActionLink("See all Students", "Index", "Students")</button>
<button>@Html.ActionLink("See all Courses", "Index", "Courses")</button>
<button>@Html.ActionLink("See all Professors", "Index", "Professors")</button>
<button>@Html.ActionLink("See all Departments", "Index", "Departments")</button>